dateconvertor/src/main/app/dateconvertor.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	<spring:beans>
          <spring:bean id="dateconvertor" class="utils.DateConvertor" />
   </spring:beans>
	
    <flow name="dateconvertorFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/convertDate" doc:name="HTTP"/>
        <set-variable variableName="varConvertDate" value="#[message.inboundProperties.'http.query.params'.convertDate]" doc:name="Variable"/>
        <set-variable variableName="varConvertDateFormat" value="#[message.inboundProperties.'http.query.params'.convertDateFormat]" doc:name="Variable"/>
    	<logger message="ConverDate: #[flowVars.varConvertDate] ConverFormat: #[flowVars.varConvertDateFormat]" level="INFO" doc:name="Logger"/>
        <expression-component doc:name="Expression"><![CDATA[app.registry.dateconvertor.convertDate();]]></expression-component>
    </flow>
</mule>

